<div class="lookbook">
	<h2>{{ 'blogs.lookbook.title' | t }}</h2>

	<ul class="lookbook__posts">
		{% for post in blogs.lookbook.articles %}
			<li>
				<a href="{{ post.url }}" class="{% if post.handle == article.handle %}active{% endif %}">
					{{ post.title }}
				</a>
				{% unless forloop.last %}<span>|</span>{% endunless %} 
			</li>
		{% endfor %}
	</ul>

	<div class="lookbook__featured" style="background-image: url({{ article.image | img_url: '2000x' }})">
		<h1>{{article.title}}</h1>
	</div>

	{% section 'lookbook' %}
</div>