{% if collection.handle contains 'women' %}
  {% assign gender = 'collections.general.women' | t | downcase %}
{% elsif collection.handle contains 'men' %}
  {% assign gender = 'collections.general.men' | t | downcase %}
{% elsif collection.handle contains 'youth' %}
  {% assign gender = 'collections.general.youth' | t | downcase %}
{% elsif collection.handle contains 'accessories' %}
  {% assign gender = 'collections.general.accessories' | t | downcase %}
{% else %}
  {% assign gender = '' %}
{% endif %}
{% assign genderHandle = gender | handle %}

<div>
  {% if collection.image %}
    <div
      class="collection--section" 
      style="background-repeat: no-repeat; background-size: cover;background-image: url('{{ collection.image | img_url: '2048x2048' }}'); height: 608px"
    >
      <h2 class="collection--title">{{collection.title}}</h2>
    </div>
  {% endif %}

  <div class="collection--divider--crumbs">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/collections/{{ genderHandle }}" data-collection-handle="{{ genderHandle }}" class="breadcrumb__link">
            {{ gender | capitalize }}
          </a>
        </li>
        {% if collection.handle != genderHandle %}
        <li>
          <a href="{{ collection.url }}" data-collection-handle="{{ collection.handle }}" class="breadcrumb__link">
            {{collection.title}}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <a href="#" class="see-all-designs">Shop by design</a>
  </div>

  <div class="collection--main" data-collection>
    {% section 'collection--sidebar' %}
    {% section 'collection--section' %}
  </div>
</div>

{% section 'designs' %}