{% include 'collection-gender' %}

<div>
  {% if collection.image %}
    <div
      class="collection--section" 
      style="background-repeat: no-repeat; background-size: cover;background-image: url('{{ collection.image | img_url: '2048x2048' }}'); height: 608px"
    >
      <h2 class="collection--title">{{collection.title}}</h2>
    </div>
  {% endif %}

  <div class="collection--divider--crumbs">
    <div class="breadcrumbs breadcrumbs--collection">
      <ul>
        <li>
          <a href="/collections/{{ genderHandle }}" data-collection="{{ genderHandle }}:{{ gender }}" class="breadcrumb__link">
            {{ gender | capitalize }}
          </a>
        </li>
        {% if collection.title != gender %}
        <li>
          <a href="{{ collection.url }}" data-collection="{{ collection.handle }}:{{ collection.title }}" class="breadcrumb__link">
            {{collection.title}}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <a href="#" class="see-all-designs">Voir tous les motifs</a>
  </div>

  <div class="collection--main" data-collection>
    {% section 'collection--sidebar' %}
    {% section 'collection--section' %}
  </div>
</div>

{% section 'designs' %}