{%- assign current_variant = product.selected_or_first_available_variant -%}

<div data-section-id="1" data-section-type="product">
	<div class="product--container">
		<div class="product--block gift-card">
			<div class="product--block--left product-image">
				<div class="product-image__featured">
					<img src="{{ product | img_url: '800x' }}">
				</div>
			</div>

			<div class="product--block--right product--form--container">
				<div class="gift-card__details">
					<h1>{{ product.title }}</h1>
					{{ product.description }}
				</div>

				<form action="/cart/add" method="post" enctype="multipart/form-data" class="gift-card__form" data-add-to-cart-form>
					{% for option in product.options_with_values %}
						{% assign option_name = option.name | downcase %}
						<script>console.log({{ option_name | json }})</script>
						{% if option_name == 'title' %}

							<div class="product--form--selector sizing js gift-card__themes-container">

								<div class="size-option-list">
									{% for value in option.values %}
									<script>console.log({{ value | json }})</script>
										<input
											type="radio"
											id="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
											data-index="option{{ option.position }}"
											data-single-option-selector
											value="{{ value }}"
											name="id"
											{%- if option.selected_value == value -%}checked="checked"{%- endif -%}
										/>
										<label for="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}">
											{{ value }}
										</label>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					
					<select name="id" class="no-js" data-product-select>
						{% for variant in product.variants %}
							<option
								{% if variant == current_variant %}selected="selected"{% endif %}
								{% unless variant.available %}disabled="disabled"{% endunless %}
								value="{{ variant.id }}"
							>
								{{ variant.title }}
							</option>
						{% endfor %}
					</select>

					<input type="hidden" id="Quantity" name="quantity" value="1" min="1">


					<button
						type="submit"
						name="add"
						class="product--form--atc"
						data-add-to-cart
						{% unless current_variant.available %}disabled="disabled"{% endunless %}
					>
						<span data-add-to-cart-text>
							{% if current_variant.available %}
								{{ 'products.product.add_to_cart' | t }}
							{% else %}
								{{ 'products.product.sold_out' | t }}
							{% endif %}
						</span>
					</button>
				</form>

			</div>
		</div>
	</div>

	{% unless product == empty %}
		<script type="application/json" data-product-json>{{ product | json }}</script>
	{% endunless %}
</div>