<div class="dropdown">
  {% for link in linklists.header-menu.links %}
    <div class="dropdown-content main {{ link.title }}">
      <div class="navigation--dropdown--block">
        <div class="navigation--content--block">
          <div class="navigation--image--item">
            {% if link.title == "Men" %}
              <img src="{{section.settings.menimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
            {% if link.title == "Women" %}
              <img src="{{section.settings.womenimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
            {% if link.title == "Youth" %}
              <img src="{{section.settings.youthimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
          </div>

          {% for sub_link in link.links %}
          <div class="navigation--dropdown--block--item">
            <a href="{{ sub_link.url }} " class="navigation--link main">{{ sub_link.title }}</a>

            {% for sub_sub_link in sub_link.links %}
              <a href="{{ sub_sub_link.url }}" class="navigation--link sub">{{ sub_sub_link.title }}</a>
            {% endfor %}
          </div>
          {% endfor %}

          <div class="navigation--dropdown--block--item">
            <a href="{{ link.url }}" class="navigation--link main">Designs</a>
            <a href="{{ link.url }}?design_type=random" class="navigation--link sub">Random</a>
            <a href="{{ link.url }}?design_type=animals" class="navigation--link sub">Animals</a>
            <a href="{{ link.url }}?design_type=food" class="navigation--link sub">Food</a>
            <a href="{{ link.url }}?design_type=patterns" class="navigation--link sub">Patterns</a>
            <a href="{{ link.url }}?design_type=sports" class="navigation--link sub">Sports</a>
            <a href="{{ link.url }}?design_type=collaboration" class="navigation--link sub">Collaborations</a>
          </div>

          <div class="navigation--dropdown--block--item">
            <a href="{{ link.url }}" class="navigation--link sub">See all styles</a></div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
