{% assign women = 'collections.general.women' | t %}
{% assign men = 'collections.general.men' | t %}
{% assign youth = 'collections.general.youth' | t %}
{% assign accessories = 'collections.general.accessories' | t %}

<div class="dropdown">
  {% for link in linklists.header-menu.links %}
    <div class="dropdown-content main {{ link.title }}">
      <div class="navigation--dropdown--block">
        <div class="navigation--content--block">
          <div class="navigation--image--item">
            {% if link.title == men %}
              <img src="{{section.settings.menimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
            {% if link.title == women %}
              <img src="{{section.settings.womenimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
            {% if link.title == youth %}
              <img src="{{section.settings.youthimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
            {% if link.title == accessories %}
              <img src="{{section.settings.accessoriesimg | img_url: '1000x1000'}}"
                  width="200"
                  height="200"
                  sizes="(max-width: 991px) 100vw, 114px"
                  class="image" />
            {% endif %}
          </div>

          {% for sub_link in link.links %}
          <div class="navigation--dropdown--block--item">
            <a href="{{ sub_link.url }} " class="navigation--link main">{{ sub_link.title }}</a>

            {% for sub_sub_link in sub_link.links %}
              <a href="{{ sub_sub_link.url }}" class="navigation--link sub">{{ sub_sub_link.title }}</a>
            {% endfor %}
          </div>
          {% endfor %}

          <div class="navigation--dropdown--block--item">
            <a href="{{ link.url }}" class="navigation--link sub">{{ 'general.header.see_all_link' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
