{% capture shipping_amount %}
  C$<span class="ajax--cart--shippingLeft">{{ 'cart.popout_cart.free_shipping_amount' | t }}</span>
{% endcapture %}

<script>
	window.slate = window.slate || {};
	window.theme = window.theme || {};
	window.currencySymbol = 'C$';
	{% if shop.currency == 'EUR' %}
		window.currencySymbol = '€';
	{% endif %}

	document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	window.theme = {
		strings: {
			addToCart: {{ 'products.product.add_to_cart' | t | json }},
			soldOut: {{ 'products.product.sold_out' | t | json }},
			unavailable: {{ 'products.product.unavailable' | t | json }},
			quickAdd: {
				buttonText: {{ 'products.product.quick_add.button_text' | t | json }},
				soldOut: {{ 'products.product.quick_add.option_sold_out' | t | json }},
				unavailable: {{ 'products.product.quick_add.option_unavailable' | t | json }},
				generalError: {{ 'products.product.quick_add.general_error' | t | json }}
			},
			cart: {
				freeShipping: {{ 'cart.popout_cart.free_shipping' | t | json }},
				hasFreeShipping: {{ 'cart.popout_cart.has_free_shipping' | t | json }}
			}
		},
		moneyFormat: {{ shop.money_format | json }}
	};
</script>