{% for link in linklists[section.settings.left_linklist].links %}
{%- assign child_list_handle = link.title | handleize -%}

{% if menus[child_list_handle].links != blank %}
<a href="{{ link.url }}" class="w-nav-link">
  {{ link.title }}
  {% include 'icon-arrow-down' %}
</a>
{% for childlink in menus[child_list_handle].links %}
<a href="{{ childlink.url }}" class="site-nav__link">
  {{ childlink.title | escape }}
</a>
{% endfor %}

{% else %}
<a href="{{ link.url }}" class="w-nav-link">{{ link.title }}</a>
{% endif %}

{% endfor %}