<div class="mobile--dropdown--navigation">
  
  {% for link in linklists[section.settings.left_linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    <a href="{{link.url}}" class="mobile--dropdown--links">{{link.title}}</a>
  {% endfor %}
  
  {% for link in linklists[section.settings.right_linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    <a href="{{link.url}}" class="mobile--dropdown--links">{{link.title}}</a>
  {%endfor%}

  <div class="social--icons--mobile--dropdown">
    {%- assign social_linklist = section.settings.social_linklist -%}
    {% if linklists[social_linklist].links.size > 0 %}
      {% for link in linklists[social_linklist].links %}
        {%- capture social_icon -%}icon-{{ link.handle }}{%- endcapture -%}
        <a class="social--icons w-inline-block" href="{{ link.url }}">
          {% include social_icon %}
        </a>
      {% endfor %}
    {% endif %}
  </div>
</div>