<div class="page--popup--section newsletter--popup newsletter" data-ix="page-popupoad">
  <div class="js--popup">
    <div class="js--cart--image"></div>
    <div class="js--cart--details">
      <div class="close--popup" data-ix="close-news-popup">{% include 'icon-close' %}</div>

      <h5 class="js--popup--heading">
        {{ 'homepage.newsletter_popup.title' | t }}
      </h5>

      <p class="js--popup--paragraph">
        {{ 'homepage.newsletter_popup.description' | t }}
      </p>

      <div class="form--block--widen">
        <div class="js--popup--form">
          <form action="" id="newsletter-popup-form" class="newsletter-form">
            <input
              type="email"
              class="newsletter--input"
              name="EMAIL"
              maxlength="256"
              value="{%- if customer -%}{{ customer.email }}{%- endif -%}"
              placeholder="{{ 'homepage.newsletter_popup.email_placeholder' | t }}"
              autocapitalize="off"
              required
            >

            <input 
              type="submit"
              value="{{ 'homepage.newsletter_popup.button_text' | t }}"
              data-wait="{{ 'homepage.newsletter_popup.loading_text' | t }}" 
              class="newsletter--button"
            >
          </form>
        </div>
      </div>

      <p class="js--popup--paragraph message"></p>
    </div>
  </div>
</div>
