<div class="page--popup--section newsletter--popup" data-ix="page-popupoad">
  <div class="js--popup">
    <div class="js--cart--image"></div>
    <div class="js--cart--details">
      <div class="close--popup" data-ix="close-news-popup">{% include 'icon-close' %}</div>

      <h5 class="js--popup--heading">
        {{ 'homepage.newsletter_popup.title' | t }}
      </h5>

      <p class="js--popup--paragraph">
        {{ 'homepage.newsletter_popup.description' | t }}
      </p>

      <div class="form--block--widen">
        <div class="w-form js--popup--form">
          {% form 'customer' %}
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
              <p class="form--success">{{section.settings.success}}</p>
            {% else %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input 
                type="email" 
                class="js--popup--input w-input"
                name="contact[email]"
                id="Email"
                class="section-settings--field w-input" 
                maxlength="256" 
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'homepage.newsletter_popup.email_placeholder' | t }}" 
                autocorrect="off"
                autocapitalize="off"
                required=""
              >

              <input 
                type="submit" 
                id="Subscribe"
                value="{{ 'homepage.newsletter_popup.button_text' | t }}"
                data-wait="{{ 'homepage.newsletter_popup.loading_text' | t }}" 
                class="section--newsletter--button w-button"
              >
            {% endif %}
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .contact-form { display: flex; }
</style>

<script>
  (function () {

    const checkLastTimeSeen = _ => {
      const sevenDaysAgo = new Date(Date.now()-(1000 * 60 * 60 * 24 * 7)).getTime()
      const lastTimeSeen = localStorage.getItem('lastTimeSeen')
      
      if (sevenDaysAgo > lastTimeSeen || !lastTimeSeen ) {
        //console.log('Last time > 7 days OR it is the first time. Displaying.')
        toggleBanner('open')
      } else {
        console.log('Under 7 days. Leave closed.')
        toggleBanner('close')
      }
    }
    
    const toggleBanner = shouldDisplay => {
      const overlay = $('.dark-overlay, .page--popup--section')
      
      if (shouldDisplay === 'open') {
        overlay.css({'display': 'flex', 'opacity': 1})
      } else {
        overlay.css({'display': 'none', 'opacity': 0})
      }
    }
    
    const hideBanner = _ => {
      toggleBanner('close')
      localStorage.setItem('lastTimeSeen', new Date().getTime())
    }

    $(document).on('click', '.close--popup, input#Subscribe, .dark-overlay', hideBanner)
    $(document).ready(checkLastTimeSeen)

    $(document).on('click', '.page--popup--section', function(e) {
      if (e.target !== this) {
        return;
      }

      hideBanner();
    })
  })()
</script>




