{% assign option_one = product.options.first.name | downcase %}
{% assign option_two = product.options.first.name | downcase %}

<div class="product--form">
  <form action="/cart/add" method="post" enctype="multipart/form-data" data-add-to-cart-form>
    {% include 'product-designs' %}

    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        {% assign option_name = option.name | downcase %}

        {% if option_name == 'size' %}
          <div class="product--form--selector sizing js">
            <div class="variant--selector--bar w-clearfix">
              <div class="selector--heading--left">
                <strong>{{ option.name }}:</strong> 
                <span class="selector--heading--right nofloat">
                  {% include 'size-guide-link' %}
                </span>
              </div>
            </div>
            <div class="size-option-list">
              {% for value in option.values %}
                <input
                  type="radio"
                  id="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  data-index="option{{ option.position }}"
                  data-single-option-selector
                  value="{{ value }}"
                  name="size-option"
                  {%- if option.selected_value == value -%}checked="checked"{%- endif -%}
                />
                <label for="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}">
                  {{ value }}
                </label>
              {% endfor %}
            </div>
          </div>
        {% elsif option_name contains 'colour' or option_name contains 'color' %}
          <div class="product--form--selector sizing js">
            <div class="variant--selector--bar w-clearfix">
              <div class="selector--heading--left">
                <strong>{{ option.name }}: </strong> 
                <span data-color-name data-index="option{{ option.position }}">
                  {{ option.selected_value }}
                </span>
              </div>
            </div>
            <div class="color-option-list">
              {% for value in option.values %}
                <input
                  type="radio"
                  id="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  data-index="option{{ option.position }}"
                  data-single-option-selector
                  value="{{ value }}"
                  name="color-option"
                  {%- if option.selected_value == value -%}checked="checked"{%- endif -%}
                />
                <label
                  for="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  class="color--{{ value | downcase }}"
                  style="background-color: {{ value | downcase }}"
                >
                </label>
              {% endfor %}
            </div>
          </div>

        {% elsif option_name.value contains '$10.00 CAD' or option_name contains '$25.00 CAD' %}
          <div class="product--form--selector sizing js">
            <div class="variant--selector--bar w-clearfix">
              <div class="selector--heading--left">
                <strong>{{ option.name }}: </strong> 
                <span data-color-name data-index="option{{ option.position }}">
                  {{ option.selected_value }}
                </span>
              </div>
            </div>
            <div class="color-option-list">
              {% for value in option.values %}
                <input
                  type="radio"
                  id="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  data-index="option{{ option.position }}"
                  data-single-option-selector
                  value="{{ value }}"
                  name="color-option"
                  {%- if option.selected_value == value -%}checked="checked"{%- endif -%}
                />
                <label
                  for="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  class="color--{{ value | downcase }}"
                  style="background-color: {{ value | downcase }}"
                >
                </label>
              {% endfor %}
            </div>
          </div>

          {% else %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}"
            >
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}
                >
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      {% endfor %}
    {% endunless %}

    <select name="id" class="no-js" data-product-select>
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}"
          data-inv="{{ variant.inventory_policy }}"
        >
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    <div class="product--form--qty">
      <div><strong>{{ 'products.product.quantity' | t }}</strong></div>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
    </div>

    {%- for tag in product.tags -%}
      {%- if tag contains 'gender' -%}
        <input type="hidden" name="gender" value="{{ tag | remove: 'gender:' | escape }}"/>
      {%- endif -%}
    {%- endfor -%}

    <input type="hidden" name="type" value="{{ product.type | escape }}"/>

        {% if product.type == "Bas" %}
          <img class="upsell-banner" src="https://cdn.shopify.com/s/files/1/1346/1035/files/up_sale_selecteur.png?14168508578515423223" />
        {% elsif product.type == "Boxers" %}
          <img class="upsell-banner" src="https://cdn.shopify.com/s/files/1/1346/1035/files/up_sale_boxers_final.png?9877202131319444717" />
        {% endif %}

    <button
      type="submit"
      name="add"
      class="product--form--atc"
      data-add-to-cart
      {% unless current_variant.available %}disabled="disabled"{% endunless %}
    >
      <span data-add-to-cart-text>
        {% if current_variant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
    </button>
  </form>
</div>