{% assign size_text = '' %}
{% for block in section.blocks %}
  {% if block.type == 'size_text' %}
    {% if block.settings.product_type == product.type %}
      {% assign size_text = block.settings.sizing_text %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="toggles--section">
  <div class="toggle--item">
    <div class="toggle--activation" data-ix="toggle-interaction">
      <h4 class="toggle--heading">{{ 'products.product.toggle_section.description' | t }}</h4>
      {% include 'icon-minus' %}
      {% include 'icon-plus' %}
    </div>
    <div class="toggle--contents">
      <div>{{ 'products.product.toggle_section.product_sku' | t }}: {{ product.selected_or_first_available_variant.sku }}</div>
      <p>{{ product.description }}</p>
    </div>
  </div>

  {% if section.settings.default_shipping_text > '' or product.metafields.product_info.shipping != 'none' %}
    <div class="toggle--item">
      <div class="toggle--activation" data-ix="toggle-interaction">
        <h4 class="toggle--heading">{{ 'products.product.toggle_section.shipping' | t }}</h4>
        {% include 'icon-minus' %}
        {% include 'icon-plus' %}
      </div>
      <div class="toggle--contents">
        {% if product.metafields.product_info.shipping != 'none' %}
          <p>{{ product.metafields.product_info.shipping }}</p>
        {% else %}
          {{ section.settings.default_shipping_text }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if section.settings.default_sizing_text > '' or size_text > '' or product.metafields.product_info.sizing != 'none' %}
    <div class="toggle--item">
      <div class="toggle--activation" data-ix="toggle-interaction">
        <h4 class="toggle--heading">{{ 'products.product.toggle_section.sizing' | t }}</h4>
        {% include 'icon-minus' %}
        {% include 'icon-plus' %}
      </div>
      <div class="toggle--contents">
        {% if product.metafields.product_info.sizing != 'none' %}
          <p>{{ product.metafields.product_info.sizing }}</p>
        {% elsif size_text > '' %}
          {{ size_text }}
        {% else %}
          {{ section.settings.default_sizing_text }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if section.settings.default_returns_text > '' or product.metafields.product_info.returns != 'none' %}
    <div class="toggle--item">
      <div class="toggle--activation" data-ix="toggle-interaction">
        <h4 class="toggle--heading">{{ 'products.product.toggle_section.returns' | t }}</h4>
        {% include 'icon-minus' %}
        {% include 'icon-plus' %}
      </div>
      <div class="toggle--contents">
        {% if product.metafields.product_info.returns != 'none' %}
          <p>{{ product.metafields.product_info.returns }}</p>
        {% else %}
          {{ section.settings.default_returns_text }}
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>


{%- comment -%}
<div class="toggle--item">
  <div class="toggle--activation" data-ix="toggle-interaction">
    <h4 class="toggle--heading">Description</h4><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/minus.svg?2249220138586907846" class="toggle--icon--minus" data-ix="originally-hidden"><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/plus.svg?8578614239508185635" class="toggle--icon--plus"></div>
  <div class="toggle--contents">
    <div>Product SKU: {{product.sku}}</div>
    <p>{{product.description}}</p>
  </div>
</div>

<div class="toggle--item">
  <div class="toggle--activation" data-ix="toggle-interaction">
    <h4 class="toggle--heading">Shipping</h4><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/minus.svg?2249220138586907846" class="toggle--icon--minus" data-ix="originally-hidden"><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/plus.svg?8578614239508185635" class="toggle--icon--plus"></div>
  <div class="toggle--contents">
    <div>Product SKU: {{product.sku}}</div>
    <p>{{product.description}}</p>
  </div>
</div>

<div class="toggle--item">
  <div class="toggle--activation" data-ix="toggle-interaction">
    <h4 class="toggle--heading">sizing</h4><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/minus.svg?2249220138586907846" class="toggle--icon--minus" data-ix="originally-hidden"><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/plus.svg?8578614239508185635" class="toggle--icon--plus"></div>
  <div class="toggle--contents">
    <div>Product SKU: {{product.sku}}</div>
    <p>{{product.description}}</p>
  </div>
</div>

<div class="toggle--item last">
  <div class="toggle--activation" data-ix="toggle-interaction">
    <h4 class="toggle--heading">returns</h4><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/minus.svg?2249220138586907846" class="toggle--icon--minus" data-ix="originally-hidden"><img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/plus.svg?8578614239508185635" class="toggle--icon--plus"></div>
  <div class="toggle--contents">
    <div>Product SKU: {{product.sku}}</div>
    <p>{{product.description}}</p>
  </div>
</div>
</div>
{%- endcomment -%}