{% assign option_one = product.options.first.name | downcase %}
{% assign option_two = product.options.first.name | downcase %}

<div class="product--form">
  <form action="/cart/add" method="post" enctype="multipart/form-data" data-add-to-cart-form>
    <div class="product--form--price" data-price-wrapper>
      {% include 'product-design' %}

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        {% assign option_name = option.name | downcase %}

        {% if option_name == 'size' %}
          <div class="product--form--selector sizing js">
            <div class="variant--selector--bar w-clearfix">
              <div class="selector--heading--left">
                <strong>{{ option.name }}:</strong> 
                <span class="selector--heading--right nofloat">
                  <a href="#" target="_BLANK" class="sizeguide-link">{{ 'products.product.size_guide_link' | t }}</a>
                </span>
              </div>
            </div>
            <div class="size-option-list">
              {% for value in option.values %}
                <input
                  type="radio"
                  id="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  data-index="option{{ option.position }}"
                  data-single-option-selector
                  value="{{ value }}"
                  name="size-option"
                  {%- if option.selected_value == value -%}checked="checked"{%- endif -%}
                />
                <label for="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}">
                  {{ value }}
                </label>
              {% endfor %}
            </div>
          </div>
        {% elsif option_name contains 'colour' or option_name contains 'color' %}
          <div class="product--form--selector sizing js">
            <div class="variant--selector--bar w-clearfix">
              <div class="selector--heading--left">
                <strong>{{ option.name }}: </strong> 
                <span data-color-name data-index="option{{ option.position }}">
                  {{ option.selected_value }}
                </span>
              </div>
            </div>
            <div class="color-option-list">
              {% for value in option.values %}
                <input
                  type="radio"
                  id="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  data-index="option{{ option.position }}"
                  data-single-option-selector
                  value="{{ value }}"
                  name="color-option"
                  {%- if option.selected_value == value -%}checked="checked"{%- endif -%}
                />
                <label
                  for="SingleOptionSelector-{{ forloop.index0 }}-{{ value }}"
                  class="color--{{ value | downcase }}"
                  style="background-color: {{ value | downcase }}"
                >
                </label>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}"
            >
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}
                >
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      {% endfor %}
    {% endunless %}

    <select name="id" class="no-js" data-product-select>
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}"
        >
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    <div class="product--form--qty">
      <div><strong>{{ 'products.product.quantity' | t }}</strong></div>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
    </div>
    

    <button
      type="submit"
      name="add"
      class="product--form--atc"
      data-add-to-cart
      {% unless current_variant.available %}disabled="disabled"{% endunless %}
    >
      <span data-add-to-cart-text>
        {% if current_variant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
    </button>
  </form>
</div>

<style>
  .product--form--selector {
    margin: 0;
    min-height: unset;
    padding: 10px 0;
  }
  
  .product--form--qty--selector {
    width: 50px;
    border-radius: 7px;
    background-image: 
      linear-gradient(45deg, transparent 50%, gray 50%), 
      linear-gradient(135deg, gray 50%, transparent 50%), 
      linear-gradient(to right, transparent, transparent);
    background-position: 
      calc(100% - 20px) calc(1em + 2px), 
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size: 
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }

  .product--form--qty--selector:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, transparent, transparent);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  
  .hide { display: none; }
</style>

<script>
  const loadThumbnails = handle => $.getJSON(`${handle}.js`, renderThumbnails)
  
  const renderThumbnails = data => {
    const images = Array.isArray(data.images) ? data.images : []
    const thumbsContainer = $('.product--image--smaller').empty()

    images.map(image => thumbsContainer.append(`<img class="thumbnail" src="${image}"/>`))
  }
  
  $(document).ready(_ => {
    const handle = $('.product--handle').text()
    loadThumbnails(handle)
    //toggleInfo()
  })
</script>