<div class="product--block--left product-image">
	<div class="product-image__thumbnails">
		{% for image in product.images %}
			<a href="{{ image.src | img_url: '800x' }}" data-zoom-id="productImage" data-image="{{ image.src | img_url: '800x' }}" class="product-image__thumbnail" data-product-single-thumbnail>
				<img src="{{ image.src | img_url: '128x128' }}" alt="{{ image.alt }}"/>
			</a>
		{% endfor %}
	</div>

	<div class="product-image__featured">
		<a href="{{ featured_image | img_url: '800x' }}" class="MagicZoom" id="productImage" data-options="zoomMode: magnifier;cssClass: white-bg;">
			<img src="{{ featured_image | img_url: '800x' }}" data-product-featured-image>
		</a>
	</div>
</div>