{%- comment -%}Set section{%- endcomment -%}

<div class="realted--product--section">
    <h3 class="realted--title">{{section.settings.title}}</h3>
    <div class="related--product--grid--block">
      <a href="#" class="product--grid--item--four w-inline-block">
        <div class="product--grid--item--image men--tshirt">
          <div class="product--grid--item--variant--overlay"><img src="images/lagrossevie_thumbnail_grande.png" width="45" height="45" class="product--grid--item--pocket"></div>
        </div>
        <h5 class="product--grid--item--title">{{product.title}}</h5>
        <div>{{product.price}}</div>
        <div class="product--grid--item--link">See more styles</div>
      </a>
      <a href="#" class="product--grid--item--four w-inline-block">
        <div class="product--grid--item--image men--tshirt">
          <div class="product--grid--item--variant--overlay"><img src="images/lagrossevie_thumbnail_grande.png" width="45" height="45" class="product--grid--item--pocket"></div>
        </div>
        <h5 class="product--grid--item--title">{{product.title}}</h5>
        <div>{{product.price}}</div>
        <div class="product--grid--item--link">See more styles</div>
      </a>
      <a href="#" class="product--grid--item--four w-inline-block">
        <div class="product--grid--item--image men--tshirt">
          <div class="product--grid--item--variant--overlay"><img src="images/lagrossevie_thumbnail_grande.png" width="45" height="45" class="product--grid--item--pocket"></div>
        </div>
        <h5 class="product--grid--item--title">{{product.title}}</h5>
        <div>{{product.price}}</div>
        <div class="product--grid--item--link">See more styles</div>
      </a>
      <a href="#" class="product--grid--item--four w-inline-block">
        <div class="product--grid--item--image men--tshirt">
          <div class="product--grid--item--variant--overlay"><img src="images/lagrossevie_thumbnail_grande.png" width="45" height="45" class="product--grid--item--pocket"></div>
        </div>
        <h5 class="product--grid--item--title">{{product.title}}</h5>
        <div>{{product.price}}</div>
        <div class="product--grid--item--link">See more styles</div>
      </a>
    </div>
  </div>