{%- comment -%}
Set section
{%- endcomment -%}





<div class="realted--product--section">
    <h3 class="realted--title">{{section.settings.title}}</h3>
    <div class="related--product--grid--block">

    {% assign product_type = 'ctype' %}
          {% assign product.id = 'cname' %}
          
          {% for product in collections.all.products limit:4 %}
          {% if product_type == 'ctype' %}
          {% if product.id == 'cname'%}
          
          {%else%}

     {% if product.type == 'Pocket' %}

      <a href="{{product.url}}" class="product--grid--item--four three--row w-inline-block">
        <div class="product--grid--item--image men--tshirt">
          <div class="product--grid--item--variant--overlay">
          {% for image in product.images limit: 1 %}
          <img src="{{ image.src | product_img_url: 'medium'  }}" width="45" height="45" class="product--grid--item--pocket">
          {%endfor%}
          </div>
        </div>
        <h5 class="product--grid--item--title">{{product.title}}</h5>
        <div>{{product.price | money }}</div>
        <div class="product--grid--item--link">See more styles</div>
      </a>

      {%else%}

           <a href="{{product.url}}" class="product--grid--item--four three--row w-inline-block">
         
        <div class="product--grid--item--image"   {% for image in product.images %} style="background-image: url('{{image.src | product_img_url: 'medium'}}')" {%endfor%}>
        
          <div class="product--grid--item--variant--overlay">
         </div>
        </div>
        <h5 class="product--grid--item--title">{{product.title}}</h5>
        <div>{{product.price | money }}</div>
        <div class="product--grid--item--link">See more styles</div>
      </a>

      {%endif%}

      {%endif%}
            {%endif%}
                  {%endfor%}
    </div>
  </div>