{%- comment -%}
Customized Footer. 
Social Accounts are dynamically imported.
Section completed. Styling completed.

{%- endcomment -%}


<footer>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
{%endfor%}


<div class="footer--container">
    <div class="footer">
      <div class="footer--flex--wrap">
        <div class="foooter--branding"><a href="#" class="footer--branding--link w-inline-block">
        
        <img src="{{section.settings.logo}}" width="122" ></a></div>
        <div class="footer--address">
          <div class="footer--heading">POCHES ET FILS</div>
          <p class="footer--paragraph">{{section.settings.paragraph}}</p>
        </div>
        <div class="footer--address">
          <div class="footer--heading">COMPANY</div>

                  {%- assign company_linklist = section.settings.company_linklist -%}
  {% if linklists[company_linklist].links.size > 0 %}
   {% for link in linklists[company_linklist].links %}
          <a class="footer--link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
          {% endif %}


          </div>

        <div class="footer--address">
        
          <div class="footer--heading">SHOP</div>


           {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
   {% for link in linklists[footer_linklist].links %}
          <a class="footer--link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
          {% endif %}


          </div>

        <div class="footer--address">
          <div class="footer--heading">SOCIAL</div>
           {% if settings[social_link] != blank %}

           
          <a href="{{ settings[social_link] }}" class="footer--link">{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}</a>
       {%endif%}
        </div>
      
      </div>
    </div>
    <div class="footer--last--block">
      <div><small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small></div>
    </div>
  </div>

</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "comapny_linklist",
        "label": " First menu"
      },
       {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Second menu"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "paragraph",
        "label": "Footer Paragraph"
      }
    ]
  }

{% endschema %}
