
<div class="_404--section" style=" background-image: url('{{section.settings.image | img_url: 'master' }}">
  <h2 class="four-o-four__heading">{{section.settings.title}}</h2>
  <div class="four-o-four__subheading">
    {{section.settings.subtitle}}
  </div>
  <a href="{{section.settings.btn}}" class="four-o-four__button w-button">
    {{section.settings.btntitle}}
  </a>
</div>


{% schema %}
   {
    "name": "404 Page",
    "settings": [

  {
        "id": "image",
        "type": "image_picker",
        "label": "Background Image"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Header",
        "default": "404 Page"
      },
 {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle",
        "default": "404 Page"
      },
 {
        "id": "btn",
        "type": "url",
        "label": "Button Link"
      },
 {
        "id": "btntitle",
        "type": "text",
        "label": "Button Label"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
