{% paginate collection.products by 12 %}

<div class="product-listing product-listing--grid product-listing--grid-three product-listing--collection">
  {% for product in collection.products %}
    {%- capture variantJson -%}{%- include "variant-json" -%}{%- endcapture -%}
    <div class="product-listing__item" data-variants="{{ variantJson | escape }}">
      <div class="product-listing__image">
        <a href="{{product.url}}">
          <img
            src="{{ product.featured_image | product_img_url: '500x' }}"
            width="500px"
            height="500px"
            alt="{{ product.title | escape }}"
          />
        </a>
        {% include 'quick-add' %}
      </div>
      <div class="product-listing__content">
        {% include 'product-listing-colors' %}
        <h5>{{ product.title }}</h5>
        <h6>{{ product.price | money }}</h6>
        <a href="{{product.url}}">
          <div class="product-listing__see-more">See more details</div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>

<div class="product-collection__loading">
  {% include 'spinner' %}
</div>

{% endpaginate %}