{% include 'collection-gender' %}

<div class="collection--sidebar" data-collection="{{ collection.title }}" data-collection-handle="{{ collection.handle }}">
  <a class="collection--sidebar--close">{% include 'icon-close' %}</a>

  <div class="sidebar--block sidebar--block--collections">
    <h4 class="sidebar--heading">Collections</h4>
    <ul class="sidebar--links--block">
      <li><a href="/collections/all" class="{%- if collection.handle == 'all' -%}sidebar-link--active{%- endif -%}">Shop all</a></li>
      {% for link in linklists['header-menu'].links %}
        <li><a href="{{ link.url }}" class="{%- if link.handle == genderHandle -%}sidebar-link--active{%- endif -%}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% if gender > '' %}
    <div class="sidebar--block sidebar--block--shop">
      <h4 class="sidebar--heading">Shop</h4>

      <ul class="sidebar--links--block" data-type-filters>
        {% for link in linklists['header-menu'].links %}
          {% if link.handle == genderHandle %}
            {% for second_level_link in link.links %}
              <li>
                <a href="{{ second_level_link.url }}" data-collection="{{ second_level_link.object.handle }}:{{ second_level_link.object.title }}" class="{%- if second_level_link.active -%}sidebar-link--active{%- endif -%}">
                  {{ second_level_link.title }}
                </a>
                {% if link.levels > 0 %}
                  <ul>
                    {% for third_level_link in second_level_link.links %}
                      <li>
                        <a href="{{ third_level_link.url }}" data-parent-collection="{{ second_level_link.object.handle }}:{{ second_level_link.object.title }}" data-collection="{{ third_level_link.object.handle }}:{{ third_level_link.object.title }}" class="{%- if third_level_link.active -%}sidebar-link--active{%- endif -%}">
                          {{ third_level_link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="sidebar--block sidebar--block--designs">
    <h4 class="sidebar--heading sidebar--heading--no-border sidebar--heading--designs">
      <div>DESIGNS</div>
      <a href="#" class="see-all-designs">See all</a>
    </h4>

    <div class="sidebar--designs toggles--section" data-design-filters>
      {% comment %} Design swatches generated in filters.js based on the product designs in the current collection being viewed
      {% endcomment %}
    </div>
  </div>

  <div class="sidebar--block">
    <h4 class="sidebar--heading sidebar--heading--no-border">Filter By</h4>

    <div class="toggles--section">
      <div class="toggle--item">
        <div class="toggle--activation" data-ix="toggle-interaction">
          <h4 class="toggle--heading">Size</h4>
          {% include 'icon-minus' %}
          {% include 'icon-plus' %}
        </div>
        <div class="toggle--contents" data-size-filters>
          {% comment %} Sizes generated in filters.js {% endcomment %}
        </div>
      </div>

      <div class="toggle--item">
        <div class="toggle--activation" data-ix="toggle-interaction">
          <h4 class="toggle--heading">Color</h4>
          {% include 'icon-minus' %}
          {% include 'icon-plus' %}
        </div>
        <div class="toggle--contents" data-color-filters>
          {% comment %} Colors generated in filters.js {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar--actions">
    <a href="#" class="clear-filters button">Clear</a>
    <a href="#" class="close-filters button black">Done</a>
  </div>
</div>

<div class="collection--sidebar--mobile">
  <select data-type-select-filters>
    {% for link in linklists['header-menu'].links %}
      {% if link.handle == genderHandle %}
        <option value="{{ genderHandle }}:{{ gender }}" {%- if collection.handle == genderHandle -%} selected="selected"{%- endif -%}>
          {{ gender }}
        </option>
        {% for second_level_link in link.links %}
          <option value="{{ second_level_link.object.handle }}:{{ second_level_link.object.title }}" {%- if second_level_link.active -%} selected="selected"{%- endif -%}>
            {{ second_level_link.title }}
          </option>
          {% if link.levels > 0 %}
            {% for third_level_link in second_level_link.links %}
              <option value="{{ third_level_link.object.handle }}:{{ third_level_link.object.title }}" {%- if third_level_link.active -%} selected="selected"{%- endif -%}>
                {{ third_level_link.title }}
              </option>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </select>

  <a href="#" class="show-mobile-filters">
    {% include 'icon-options' %}
  </a>
</div>

{% schema %}
{
  "name": "Collection Sidebar Blocks",
  "settings": [],
  "blocks": []
}
{% endschema %}