<style>
  #store-locator-title {display:none!important;}
</style>


<div class="faq cs-faq-section">
  <h1 class="faq-heading">{{ 'faq_page.title' | t }}</h1>
  <div class="faq__search-form">
    <form action="/search" class="cs-faq-form faq__search-form">
      <input class="faq__search" maxlength="256" autofocus="true" type="text" name="q" value="{{ search.terms | escape }}"  placeholder="{{ 'faq_page.search_bar' | t }}"  />
      <input hidden type="submit" value="Search" />
    </form>
  </div>
</div>

<div class="faq">
  <div class="faq__sidebar-layout faq__container">
    <aside class="faq__sidebar">
      <div>
        <ul>
          {% capture categories %}{% endcapture %}
          {% for block in section.blocks %}
            {% assign thisCategory = block.settings.category | handle %}
            {% unless categories contains thisCategory %}
              {% capture categories %}{{ categories }}, {{ thisCategory | handle }}{% endcapture %}
              <li>
                <a 
                  href="#"
                  data-category="{{ block.settings.category | handle }}"
                  class="{%- if forloop.first -%}active{%- endif -%}"
                >
                  {{ block.settings.category }}
                </a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>

        <h3>{{ 'faq_page.live_chat.title' | t }}</h3>
        <p>{{ 'faq_page.live_chat.text' | t }}</p>
        <a href="#" class="live-chat-button w-button">
          {{ 'faq_page.live_chat.button_text' | t }}
        </a>
      </div>
    </aside>

    <div class="faq__questions">
      {% assign activeCategory = section.blocks[0].settings.category %}

      <h2>{{ activeCategory }}</h2>

      <div class="toggles--section">
        {% for block in section.blocks %}
          {% if block.settings.category == activeCategory %}
            <div class="toggle--item">
              <div class="toggle--activation" data-ix="toggle-interaction">
                <h4 class="toggle--heading">{{ block.settings.title }}</h4>
                {% include 'icon-minus' %}
                {% include 'icon-plus' %}
              </div>
              <div class="toggle--contents">
                {{ block.settings.answer }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="application/json" data-questions-json>
  [
  {%- for block in section.blocks -%}
    {
      "id": "{{ block.id }}",
      "question": "{{ block.settings.title | escape }}",
      "answer": "{{ block.settings.answer | escape | strip_newlines }}",
      "category": "{{ block.settings.category | escape }}",
      "categorySlug": "{{ block.settings.category | handle }}"
    }{%- unless forloop.last -%},{%- endunless -%}
  {% endfor %}
  ]
</script>

{% schema %}
{
  "name": "FAQ questions",
  "settings": [],
  "blocks": [{
    "type": "question",
    "name": "Add Question",
    "settings": [{
      "id": "title",
      "type": "text",
      "label": "Question"
    }, {
      "id": "answer", 
      "type": "richtext",
      "label": "Answer"
    }, {
      "id": "category",
      "type": "text",
      "label": "Category"
    }]
  }],
  "presets": []
}
{% endschema %}

