{%- assign collection = collections[section.settings.collection] -%}

<div
  class="section--products featured-collection"
  data-section-id="{{ section.id }}"
  data-section-type="collection-custom-section"
>
  {% if section.settings.title != blank %}
    <h2 class="section--title--heading bold--caps">{{ section.settings.title | escape }}</h2>
  {% endif %}

  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for product in collection.products limit:8 %}
          <li class="glide__slide product-listing">
            <a href="{{product.url}}">
              <img
                src="{{ product.featured_image | product_img_url: '500x' }}"
                width="500px"
                height="500px"
                alt="{{ product.title | escape }}"
              />
              <div class="product-listing__content">
                <h5>{{product.title}}</h5>
                <h6>{{ product.price | money }}</h6>
                <div class="product-listing__see-more">See more styles</div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% include 'icon-chevron' %}</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% include 'icon-chevron' %}</button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Featured collection"
  }, {
    "id": "collection",
    "type": "collection",
    "label": "Collection"
  }],
  "presets": [{
    "name": "Featured collection",
    "category": "Elements"
  }]
}

{% endschema %}
