{%- comment -%}
Customized Footer. 
Social Accounts are dynamically imported.
Section completed. Styling completed.

{%- endcomment -%}


<footer>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}

  {% for social in social_accounts %}
  {%- assign social_handle = social | handleize -%}
  {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
  {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
  {%endfor%}

  <div class="footer--container">
    <div class="footer">
      <div class="footer--flex--wrap">
        <div class="foooter--branding"><a href="#" class="footer--branding--link w-inline-block">
          <img src="{{section.settings.logo | img_url: '1000x1000'}}" width="122" ></a></div>
        <div class="footer--address">
          <div class="footer--heading">POCHES & FILS</div>
          <p class="footer--paragraph">{{section.settings.paragraph}}</p>
        </div>
        <div class="footer--address">
          <div class="footer--heading">COMPAGNIE</div>
          {%- assign company_linklist = section.settings.company_linklist -%}

          {% if linklists[company_linklist].links.size > 0 %}
          {% for link in linklists[company_linklist].links %}
          <a style="display:block" class="footer--link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
          {% endif %}

        </div>

        <div class="footer--address">
          <div class="footer--heading">MAGASINER</div>
          {%- assign footer_linklist = section.settings.footer_linklist -%}

          {% if linklists[footer_linklist].links.size > 0 %}
          {% for link in linklists[footer_linklist].links %}
          <a style="display:block" class="footer--link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
          {% endif %}
        </div>

        <div class="footer--address">
          <div class="footer--heading">SOCIAL</div>
           {%- assign social_linklist = section.settings.social_linklist -%}
          
               {% if linklists[social_linklist].links.size > 0 %}
          {% for link in linklists[social_linklist].links %}
          <a style="display:block" class="footer--link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>
    <div class="footer--last--block" >
      <div class="items-wrapper">
        <small style="float:left; margin-right: 15px;"> © 2018 Poches et Fils, Inc.</small> 
        <div> 
          <small> <a href="/pages/terms" style="color:#fff;text-decoration:none;margin-right:24px;font-size:11px;"> Terms of Service </a></small>  
          | 
          <small> <a href="/pages/privacy-policy" style="color:#fff;text-decoration:none;margin-left:24px;font-size:11px;"> Privacy Policy </a></small></div>
      </div>
    </div>
  </div>

</footer>
{% schema %}
{
"name": "Footer",
"settings": [

{
"type": "image_picker",
"id": "logo",
"label": "Footer Logo"
},
{
"type": "textarea",
"id": "paragraph",
"label": "Footer Paragraph"
},
{
"type": "link_list",
"id": "company_linklist",
"label": " First menu"
},
{
"type": "link_list",
"id": "footer_linklist",
"label": "Second menu"
},
{
"type": "link_list",
"id": "social_linklist",
"label": "Second menu"
}
]
}

{% endschema %}
