<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">
    {% if template.name == 'index' %}
    <div itemscope itemtype="http://schema.org/Organization">
      {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}

        <div class="navigation--full--menu include--border">
          <div class="nav--header">

            <a style="text-decoration:none;" href="{{section.settings.link}}"> 
              <div class="nav--announcement" style="background-color: {{section.settings.bgcolor}};{% if section.settings.animg %}background-image: url('{{section.settings.animg | img_url: 'master' }}');{%endif%}">
                <div>{{section.settings.antext}}</div>
              </div>
              </div>
            </a>

          <div data-collapse="medium" data-animation="default" data-duration="400" class="nav--navigation w-nav">
            <a href="/" class="navigation--brand w-nav-brand">
              {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img width="60" src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
              {% else %}
              {{ shop.name }}
              {% endif %}
            </a>

            <div class="nav--container w-container">

              {%- comment -%} Right navigation for desktop {%- endcomment -%}
              <nav role="navigation" class="nav--menu--right ">
                {% include 'right-navigation' %}
                <select class="w-nav-link w--current--black country-switcher-dropdown"
                        style="border: none; font-weight: 800; padding: 24px 20px;">
                </select>
              </nav>

              {%- comment -%} Left navigation for desktop {%- endcomment -%}
              <nav role="navigation" class="nav--menu--left ">
                {% include 'left-navigation' %}
              </nav>


              <nav role="navigation" class="nav--menu--mobile w-nav-menu">
                {% include 'mobile-dropdown' %}
              </nav>


              {%- comment -%}navigation menu button for mobile{%- endcomment -%}

              <div class="menu-button w-nav-button">
                <div class="nav--menu--icon w-icon-nav-menu">
                  {% include 'icon-close' %}
                </div>
              </div>
            </div>
            <div class="nav--cart--block">
              <a href="#" class="w-inline-block">
                <img src="https://cdn.shopify.com/s/files/1/0013/6685/1647/files/shoppingbag.png?11077116461490386443" width="20px" >
                {% if cart.items %}
                <div class="cart--items--block">
                  <div>{{ cart.item_count }}</div>
                </div>
                {%endif%}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<style>
  {% if section.settings.logo != blank %}
  .site-header__logo-image {
    max-width: {{ section.settings.logo_max_width }}px;
  }

  .w-nav-link.w--current { color: unset; }
  {% endif %}
</style>

{% include 'dropdown-menus' %}
{% schema %}
{
  "name": "Header",
  "settings": [{
    "type": "image_picker",
    "id": "animg",
    "label": "Announcement Bar Background"
  }, {
    "type": "color",
    "id": "bgcolor",
    "label": "Announcement Bar Color"
  }, {
    "type": "text",
    "id": "antext",
    "label": "Announcement Bar Text"
  }, {
    "type": "url",
    "id": "link",
    "label": "Announcement Bar Link"
  }, {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo image"
  }, {
    "type": "range",
    "id": "logo_max_width",
    "min": 50,
    "max": 450,
    "step": 10,
    "unit": "px",
    "label": "Custom logo width",
    "default": 250
  }, {
    "type": "link_list",
    "id": "left_linklist",
    "label": "Left Menu",
    "default": "main-menu"
  }, {
    "type": "link_list",
    "id": "right_linklist",
    "label": "Right Menu",
    "default": "main-menu"
  }, {
    "type": "image_picker",
    "id": "menimg",
    "label": "Men Dropdown image"
  }, {
    "type": "image_picker",
    "id": "womenimg",
    "label": "Women Dropdown image"
  }, {
    "type": "image_picker",
    "id": "youthimg",
    "label": "Youth Dropdown image"
  }]
}
{% endschema %}
