<div class="section--newsletter newsletter">
  <div class="section--newsletter--flex">
    <div class="section--newsletter--image" style="background-image: url('{{ 'pf-gif.gif' | asset_url }}');"></div>
    <div class="section--newsletter--signup">
      <h3 class="section--newsletter--heading">
        {% if section.settings.title != blank %}
          {{ section.settings.title }}
        {% else %}
          {{ 'homepage.newsletter_popup.title' | t }}
        {% endif %}
      </h3>
      <p class="section--newsletter--paragraph">
        {% if section.settings.paragraph != blank %}
          {{ section.settings.paragraph }}
        {% else %}
          {{ 'homepage.newsletter_popup.description' | t }}
        {% endif %}
      </p>

      <div class="form--block--widen">
        <div class="js--popup--form">
          <form action="" id="newsletter-section-form" class="newsletter-form">
            <input
              type="email"
              class="newsletter--input"
              name="EMAIL"
              maxlength="256"
              value="{%- if customer -%}{{ customer.email }}{%- endif -%}"
              placeholder="{{ 'homepage.newsletter_popup.email_placeholder' | t }}"
              autocapitalize="off"
              required
            >

            <input 
              type="submit"
              value="{{ 'homepage.newsletter_popup.button_text' | t }}"
              data-wait="{{ 'homepage.newsletter_popup.loading_text' | t }}" 
              class="newsletter--button"
            >
          </form>
        </div>
      </div>

      <p class="message"></p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter Section",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading",
    "info": "If left blank this will default to the theme translations"
  }, {
    "type": "textarea",
    "id": "paragraph",
    "label": "Newsletter Paragraph",
    "info": "If left blank this will default to the theme translations"
  }],
  "presets": [{
    "name": "Newsletter Section",
    "category": "Elements"
  }]
}

{% endschema %}