<div 
  data-section-id="{{ section.id }}" 
  data-section-type="product"
  data-enable-history-state="true" 
  itemscope 
  itemtype="http://schema.org/Product"
>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product--container">
    <div class="product--block">
      {% include 'product-image-desktop' %}
      {% include 'product-image-mobile' %}

      <div class="product--block--right product--form--container">
        {% include 'product--normal--form' %}
        {% include 'product-toggle' %}  
      </div>
    </div>
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-json>{{ product | json }}</script>
  {% endunless %}
</div>

{% schema %}
{
  "name": "Product pages",
  "settings": [{
    "id": "default_shipping_text",
    "type": "richtext",
    "label": "Default Shipping Text",
    "info": "Text that will display in the shipping toggle section by default for all products"
  }, {
    "id": "default_sizing_text",
    "type": "richtext",
    "label": "Default Sizing Text",
    "info": "Text that will display in the sizing toggle section by default for all products"
  }, {
    "id": "default_returns_text",
    "type": "richtext",
    "label": "Default Returns Text",
    "info": "Text that will display in the returns toggle section by default for all products"
  }],
  "blocks": [{
    "type": "size_text",
    "name": "Product Type Size Text",
    "settings": [{
      "id": "product_type",
      "type": "text",
      "label": "Product Type",
      "info": "The product type you would like the sizing text to display with, for example, t-shirt"
    }, {
      "id": "sizing_text",
      "type": "richtext",
      "label": "Sizing Text",
      "info": "Text that will override the default sizing text and display in the sizing toggle section for the specified product type"
    }]
  }]
}
{% endschema %}