<div class="section--promotions w-clearfix">
  <div 
    class="
      promotion--left
      {% if section.settings.bg-position1 == 'left' %} promotion--content--left {% endif %}
      {% if section.settings.bg-position1 == 'right' %} promotion--content--right {% endif %}
      {% if section.settings.bg-position1 == 'center' %} promotion--content--center {% endif %}
    "
    style="background-image: url('{{ section.settings.bgimg1 | img_url: '1000x' }}');"
  >
    <div class="promotion--content">
      <h1>{{ section.settings.heading1 }}</h1>
      <h3>{{ section.settings.subtitle1 }}</h3>
      {% if section.settings.btn1 %}
        <a href="{{section.settings.link1}}" class="slider--button--main w-button">{{section.settings.btn1}}</a>
      {%endif%}
    </div>
  </div>
  <div
    class="
      promotion--right
      {% if section.settings.bg-position2 == 'left' %} promotion--content--left {% endif %}
      {% if section.settings.bg-position2 == 'right' %} promotion--content--right {% endif %}
      {% if section.settings.bg-position2 == 'center' %} promotion--content--center {% endif %}
    "
    style="background-image: url('{{ section.settings.bgimg2 | img_url: '1000x1000' }}');"
  >
    <div class="promotion--content">
      <h1>{{ section.settings.heading2 }}</h1>
      <h3>{{ section.settings.subtitle2 }}</h3>
      {% if section.settings.btn2 %}
        <a href="{{section.settings.link2}}" class="slider--button--main w-button">{{section.settings.btn2}}</a>
      {%endif%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Promotion  Blocks",
  "settings": [
    {
      "type": "header",
      "content": "Left Image"
    },
    {
      "id": "bgimg1",
      "type": "image_picker",
      "label": "Promotion Image"
    },
    {
      "type": "select",
      "id": "bg-position1",
      "label": "Text Position",
      "options": [
        { "value": "left", "label": "Left Aligned" },
        { "value": "center", "label": "Center Aligned" },
        { "value": "right", "label": "Right Aligned" }
      ],
      "default": "left"
    },
    {
      "id": "heading1",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "subtitle1",
      "type": "text",
      "label": "Subtitle"
    },
    {
      "id": "link1",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "btn1",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    },
    {
      "type": "header",
      "content": "Right Image"
    },
    {
      "id": "bgimg2",
      "type": "image_picker",
      "label": "Promotion Image"
    },
    {
      "type": "select",
      "id": "bg-position2",
      "label": "Text Position",
      "options": [
        { "value": "left", "label": "Left Aligned" },
        { "value": "center", "label": "Center Aligned" },
        { "value": "right", "label": "Right Aligned" }
      ],
      "default": "left",
      "info": "Moves the alignment of the background image"
    },
    {
      "id": "heading2",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "subtitle2",
      "type": "text",
      "label": "Subtitle"
    },
    {
      "id": "link2",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "btn2",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    }
  ],
  "presets": [
    {
      "name": "Promotion Blocks",
      "category": "Elements"
    }
  ]
}
{% endschema %}
