<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/mikhailarden/Shopify-OpenSource/master/Slider%20Section/normalize.css">
<script src="https://cdn.rawgit.com/mikhailarden/Shopify-OpenSource/master/Slider%20Section/components.js"> </script>



<div class="slider--section">
  <div data-delay="4000" data-animation="cross" data-autoplay="1" data-duration="500" data-infinite="1"  class="slider--section--slider w-slider">
    <div class="w-slider-mask">
      {% for block in section.blocks %}
        <div class="home--slider w-slide
              {% if forloop.index == 1 %} one {% elsif forloop.index == 2 %} two {%else%} three {% endif %}"
              {% if block.settings.color %} style="background-color: {{block.settings.color}} ;" {% endif %}>

          <div class="slider--image--overlay" style="background-image: url('{{block.settings.image | img_url: "1000x1000"}}');">
            <div class="slider--content
              {% if block.settings.bg-position == 'left' %} slider--content--right {% endif %}
              {% if block.settings.bg-position == 'right' %} slider--content--left {% endif %}
              {% if block.settings.bg-position == 'center' or block.settings.bg-position == 'fill' %} slider--content--center {% endif %}"
            >
              <h1 class="slider--heading--main"  style=""> {{ block.settings.heading }}</h1>
              <h3 class="slider--heading--text" style=""> {{ block.settings.subtitle }}</h3>

              {% if block.settings.btn %}
                <a href="{{block.settings.url}}" class="slider--button--main w-button">{{block.settings.btn}}</a>
              {%endif%}

            </div>
          </div>
        </div>
      {%endfor%}
    </div>

    <div class="slider--section--hideen--arrows w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="slider--section--hideen--arrows w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-slider-nav w-shadow w-round"></div>
  </div>
</div>

{% schema %}
{
"name": "Slider",
"max_blocks": 3,
"settings": [
{
"id": "txtcolor",
"type": "color",
"label": "Text Color",
"default": "#fff"
}
],
"blocks": [

{
"type": "select",
"name": "Add Slider",
"settings": [
{
"id": "image",
"type": "image_picker",
"label": "Slider Image"
},
{
"id": "heading",
"type": "text",
"label": "Slider Heading"
},
{
"id": "color",
"type": "color",
"label": "Slider Overlay Color"
},


{
"type":      "select",
"id":        "bg-position",
"label":     "Image Position",
"options": [
{ "value": "left", "label": "Left Aligned" },
{ "value": "center", "label": "Center Aligned (No Image)" },
{ "value": "right", "label": "Right Aligned" },
{ "value": "fill", "label": "Fill Background" }
],
"default":   "left",
"info":      "Moves the alignment of the background image"
},


{
"id": "subtitle",
"type": "text",
"label": "Slider Subtitle"
},
{
"id": "paragraph",
"type": "textarea",
"label": "Slider Pragraph"
},
{
"id": "link",
"type": "url",
"label": "Button link"
},
{
"id": "btn",
"type": "text",
"label": "Button text",
"default": "Click here"
},
{
"id": "btncolor",
"type": "color",
"label": "Button Color",
"default": "#f36e21"
}
]
}
],
"presets": [
{
"name": "Slider Slides ",
"category": "Slider Blocks",
"blocks": [
{
"type": "select"
},
{
"type": "select"
}
]
}
]
}
{% endschema %}
