<div 
  class="slider--section glide"
  data-section-id="{{ section.id }}"
  data-section-type="slider"
  data-slider-speed="{{ section.settings.speed }}"
>
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for block in section.blocks %}
        <li
          class="glide__slide home--slider slider--position--{{ block.settings.position }}"
          style="
            {%- if block.settings.color -%} background-color: {{ block.settings.color }}; {%- endif -%}
            {%- if block.settings.position == 'fill' -%} background-image: url({{ block.settings.image | img_url: '2000x' }}); {%- endif -%}
          "
        >
          <div class="slider--wrapper">
            <div class="slider--content">
              <h1 class="slider--heading--main">{{ block.settings.heading }}</h1>
              <h3 class="slider--heading--text">{{ block.settings.subtitle }}</h3>

              {%- if block.settings.btn > '' -%}
                <a href="{{block.settings.url}}" class="slider--button--main slider--button--large w-button">
                  {{block.settings.btn}}
                </a>
              {%- endif -%}
            </div>

            {%- if block.settings.position != 'none' and block.settings.position != 'fill' -%}
              <div class="slider--image--wrapper">
                <img 
                  class="slider--image"
                  src="{{ block.settings.image | img_url: '1000x1000' }}"
                />
              </div>
            {%- endif -%}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Slider",
  "max_blocks": 4,
  "settings": [{
    "id": "speed",
    "type": "number",
    "label": "Slide Duration",
    "default": 6000,
    "info": "How long the delay is between the carousel sliding from one slide to the next in milliseconds"
  }],
  "blocks": [{
    "type": "slide",
    "name": "Add Slide",
    "settings": [{
      "id": "image",
      "type": "image_picker",
      "label": "Slide Image",
      "info": "For left or right alignments, upload a square image with a transparent background."
    }, {
      "type": "select",
      "id": "position",
      "label": "Image Position",
      "options": [
        {"value": "left", "label": "Left Aligned"},
        {"value": "right", "label": "Right Aligned"},
        {"value": "fill", "label": "Fill Background"},
        {"value": "none", "label": "No Image"}
      ],
      "default": "left"
    }, {
      "id": "color",
      "type": "color",
      "label": "Slide Background Colour",
      "default": "#40407A",
      "info": "Recommended colours: #40407A or #2F81B7 or #FF793F"
    }, {
      "id": "heading",
      "type": "text",
      "label": "Slide Heading"
    }, {
      "id": "subtitle",
      "type": "textarea",
      "label": "Slider Subtitle"
    }, {
      "id": "link",
      "type": "url",
      "label": "Button link"
    }, {
      "id": "btn",
      "type": "text",
      "label": "Button text"
    }]
  }],
  "presets": [{
    "name": "Slider Slides",
    "category": "Slider Blocks",
    "blocks": [{
      "type": "slide"
    }, {
      "type": "slide"
    }]
  }]
}
{% endschema %}
